.today {
    background-color: $secondBackground;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 8px;

    .today-weather {
        display: flex;
        gap: 20px;

        .today-temp{
            display: flex;
            gap: 5px;

            .temp {
                font-size: 1.7rem;
            }
        }

        .wind{
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}